<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down ideas for your next YouTube videos</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>

<style>

.jumbotron{
  background-color: yellow;
  background:url('https://www.transess.com/wp-content/uploads/video-and-animation-banner.jpg');
  width: 110%;
  position: left;
}


</style>